
  <%= form_for(@application) do |f| %>
    <% if @application.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

        <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">

      <%= f.text_field :name, class:"form-control", placeholder:"What's your name?" %>
    </div>
    <div class="form-group">

      <%= f.text_field :email, class:"form-control", placeholder:"What's your email address?" %>
    </div>
    <div class="form-group">

      <%= f.text_field :hometown, class:"form-control", placeholder:"What is your hometown? (city, state)" %>
    </div>
    <div class="form-group">

      <%= f.text_field :website, class:"form-control" , placeholder:"Do you have a website? (paste link here)"%>
    </div>
    <div class="form-group">

      <%= f.text_area :comment, class:"form-control", placeholder:"How would you describe you brand?" %>
    </div>
    <div class="actions">
      <%= f.submit "Apply to Join the Clique", class:"btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
