 <div class="row">
  <div class="col-md-3">  
      
      <%= image_tag @user.image.url(:thumbnail) %>
    </div>

    <div class="col-md-9 text-center">
      <h2><%= @user.name %></h2>
      <h4><%= @user.bio %></h4>
      <%= link_to "Add an Item", new_item_path, class:"btn btn-primary" %>
      <% if (user_signed_in?) && (current_user.admin == true) %>
         <% if @user.member != true %> 
            <%= link_to  "Add Cliquer", join_user_path(@user), method: :put, class:"btn btn-primary"  %>
         <% else %>  
            <%= link_to  "Remove Cliquer", kick_user_path(@user), method: :put, class:"btn btn-warning"  %>
         <% end %> 
      <% end %>
          
       
            
        
     
      
      
   </div>
 </div>
   <hr>

<div class="container">    
  <div class="row">   
    <h2 class="text-center"><%= @user.name %>'s Listed Items</h2>
   <% @items.each do |item| %>
            <div class="col-md-3 column productbox">
                <%= link_to  image_tag(item.image.url(:display), width: "250"), item%> 
                <div class="producttitle"><%= link_to item.name, item%></div>
                <div class="productprice"><div class="pricetext">$<%=  item.price%></div></div>
            </div>
      <% end %>
    </div>
 </div>
