 <div class="row">
  <div class="col-md-6">  
      
    <%= image_tag @user.image.url(width: 451, :crop => :crop) %>
    </div>

    <div class="col-md-6 text-center">
      <h2><%= @user.name %></h2>
      <h4>Located in <%= @user.hometown %></h4>
      <h4><%= @user.bio %></h4>
      <% if (user_signed_in?) && (current_user==@user) %>
        <%= link_to "Add an Item", new_item_path, class:"btn btn-primary" %>
      <% end %>
      
      <% if (user_signed_in?) && (current_user.admin == true) %>
         <% if @user.member != true %> 
            <%= link_to  "Add Cliquer", join_user_path(@user), method: :put, class:"btn btn-primary"  %>
         <% else %>  
            <%= link_to  "Remove Cliquer", kick_user_path(@user), method: :put, class:"btn btn-warning"  %>
         <% end %> 
      <% end %>
          
       
            
        
     
      
      
   </div>
 </div>
   <hr>

<h2 class="text-center"> <%= @user.name %>'s Items

<div class="grid">
  <% @items.each do |item| %>
        <div class="col-md-4">
              <figure class="effect-zoe">
                
               <%= link_to  image_tag(item.image.url(:display), width: "100%") %>
                <figcaption>
                  <h2><%= link_to item.name, item%></h2>
                  <p class="icon-links">
                    <a href="#"><i class="fa fa-eye"></i></a>
                  </p>
                  <%= link_to "View this Store", item %>
                </figcaption>
                		
              </figure>
  </div>
       <% end %>

  
</div>
<br><br><br><br>