<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control", required:"true"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control", required:"true" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image , class: "form-control", required:"true"%>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, ['Outerwear', 'Jackets', 'Dresses', 'Jumpsuits', 'Tops', 'Pants', 'Jeans', 'Skirts', 'T-Shirts', 'Sweatshirts', 'Shoes', 'Handbags', 'Accesories', 'Other' ] , :prompt => 'Select a category', class:"form-control", required: "true", class: "form-control"  %>
  </div>
 <div class="field">
   <%= f.label :gender %><br>
   <%= f.select :genger, ['Male', 'Female'] , :prompt => 'Select a category', class:"form-control", required: "true", class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price , class: "form-control", required:"true", placeholder:"$"%>
  </div>
  <div class="actions">
    <%= f.submit "Post this Item", class: "btn btn-primary"%>
  </div>
<% end %>
