
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="header2">
      <ul class="nav navbar-nav spread">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "SHOP NOW", pages_shop_path %></li>
        <li><%= link_to "MEET THE DESIGNERS", pages_meet_path %></li>
        <li><%= link_to "JOIN THE CLIQUE", new_application_path %></li>
        <li><%= link_to "ABOUT US", pages_about_path %></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
   
  </div>
</nav>

