<!DOCTYPE html>
<html>
<head>
  <title>Clique2</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="text-center">
    <a href="/"><img src="http://res.cloudinary.com/bisonshare/image/upload/v1426191757/clique_aswr47.png" class="img-responsive text-center" ></a>
  </div>
   <%= render 'layouts/header2' %>
  <% if current_page?(root_path) %>  
    <%= render 'layouts/slider' %>
  <% end %>
<div class="container">  

     <p class="notice"><%= notice %></p>                                                                                                                                 
       <p class="alert"><%= alert %></p>  
  <%= yield %>
  </div>

  

</body>
</html>
